.body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.container{
	display: flex;
}

.card{
	width: 100px;
	max-width: 10vw;
	height: auto;
	margin: 0;
}

.caption{
	margin-bottom: 5px;
	font-size:small;
}

.button{
	margin-right: 10px;
}

.search{
	margin-bottom: 5px;
}

.cardsize{
	margin-bottom:10px;
}

.cardsize label{
	vertical-align: top;
	padding-bottom: 10px;
}

.deck{
	width: 12.5%;
	height: auto;
	margin: 0;
}

#cardlist{
	height: 75vh;
	max-width: 12vw;
	margin-left: 10px;
	overflow-y: scroll;
}

#decklist{
	height: 0;
	width: 80vw;
	margin-left: 2.5vw;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}