.body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.controller{
	display:flex;
	margin-bottom: 15px;
}

.container{
	display: flex;
}

.controller > div{
	margin-right: 20px;
}

.card{
	width: 100px;
	max-width: 10vw;
	height: auto;
	margin: 0;
}

.caption{
	margin-bottom: 5px;
	font-size:small;
}

.button{
	margin-right: 10px;
}

.search{
	margin-bottom: 5px;
}

.cardsize{
	padding-top: 5px;
	padding-bottom: 5px;
}

.decksave{
	padding-top: 5px;
	padding-bottom: 5px;
}

.cardsize label{
	vertical-align: top;
	padding-bottom: 10px;
}

.deck{
	width: 12.5%;
	height: auto;
	margin: 0;
}

#cardlist{
	height: 75vh;
	max-width: 12vw;
	margin-left: 10px;
	overflow-y: scroll;
}

#decklist{
	height: 0;
	width: 80vw;
	margin-left: 2.5vw;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.search_container{
	box-sizing: border-box;
	position: relative;
	border: 1px solid #999;
	display: block;
	padding: 3px 10px;
	border-radius: 20px;
	height: 2.3em;
	width: 260px;
	overflow: hidden;
  }
  .search_container input[type="text"]{
	border: none;
	height: 2.0em;
  }
  .search_container input[type="text"]:focus {
	outline: 0;
  }
  .search_container input[type="button"]{
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 1.3em;
	border: none;
	background: none;
	color: #3879D9;
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	right: 0;
	top: -10px;
	outline : none;
  }